<div class="row">
    <form method="POST" action="/crawl/run" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">link</i>
                <input name="uri"  value="http://vnexpress.net" id="disabled" type="text" class="validate">
                <label for="disabled">Url to crawl</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">code</i>
                <textarea name="code" id="code" class="materialize-textarea"></textarea>
                <!--<label for="textarea1">Javascript code</label>-->
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
<div id="code"></div>
<script>
    var sampleJsCode = "var result = {} ;\n\
 result.title = $('.title_news').first().text().trim();\n\
 return result;"
    $('#code').val(sampleJsCode);
    $('#code').trigger('autoresize');
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js" type="text/javascript" charset="utf-8"></script>

<div id="editor">
    function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
    $.
}</div>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/solarized_light");
    editor.getSession().setMode("ace/mode/javascript");
</script>
    